/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */
html {
    height: 100%;
}

body {
    background-color: #134d71;
    background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
    background-repeat: no-repeat;
    background-size: cover;
  }

.wrap-header {
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}

header {
    display: flex;
    padding-top: 30px;
    font-weight: bold;
}

.wrap-message-select {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
    padding-top: 0px;
    /* display: inline-flex; */
}

.message-select {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px; 
    width: 600px;
    height: 100px;
    display: inline-flex;
}

.wrap-choose-message {
    display: flex;
    justify-content: center;
}

#choose-message {
    padding-top: 100px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

#form {
    width: 550px;
}

.radio-buttons {
    display: inline-flex;
    padding: 20px;
    /* align-items: space-evenly; */

}

/* .affirmation {
    padding-left: 40px; 
}

.mantra {
    padding: 20px;
} */

button {
    background-color: #134d71;
    color: white;
    border-radius: 4px;
    margin: 10px;
}

.wrap-message-view {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: space-evenly;
    justify-content: space-evenly;
}

.message-view {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 150px;
    border-radius: 10px;
}
#meditator {
    width: 50px;
    height: 50px;
}

.hidden {
    display: none;
  }

/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/